*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Loading{
    position: fixed;
    width:100%;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1000;
}
#Books{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.searchCont{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(160, 160, 160);
    border-radius: 1.5rem;
    border-right: none;
}
.searchCont #searchinput{
    width:25rem;
    font-size: 1.3rem;
    /* text-indent: 1rem; */
    outline: none;
    padding: 0.5rem 0 0.5rem 0.7rem;
    border-radius: 1.5rem;
    border-style: none;
    font-family: 'DM Sans', sans-serif;
    color: rgb(56, 56, 56);

}
.SearchBtn{
    width:2.8rem;
    height:2.8rem;
    font-size: 1.2rem;
    padding:0.5rem 0.8rem;
    border-radius: 1.4rem;
    /* background-image:linear-gradient(#121297,rgb(96, 156, 180)); */
    /* color: white; */
    outline: none;
    border-style: none;
    margin-left: 0.5rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:width 0.2s;
    border-left:3px solid rgb(114, 194, 147);
    border-right:3px solid rgb(114, 194, 147);
    background-color:rgb(146, 255, 204);
    color:rgb(47, 125, 199);

}

.SearchBtn span{
    width: 0;
    overflow: hidden;
    font-family: 'Patrick Hand', cursive;

}
.SearchBtn:hover span{
    width:auto;
    margin-left: 0.5rem;

}
.SearchBtn:hover{
    width:7.5rem;
}
.SearchBtn:active{
    color: rgb(255, 255, 255);
    /* background-color:rgb(73, 130, 184); */
    background-color: rgb(114, 194, 147);
    border-left:3px solid rgb(67, 145, 108);
    border-right:3px solid rgb(67, 145, 108);
}
#Books .BookTypHeading{
    color:white;
    font-size:2.5rem;
    margin-top:2rem;
    text-align:center;
    font-family: Courier New, Courier, monospace;
    padding:0.5rem 2rem;
    border-radius:10px;
    letter-spacing:2px;
    word-spacing:0.1rem;
    text-transform: uppercase;
}
.bookcat{
    margin: 5rem 0 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;

}
.bookcat a{
    width: 20rem;
    height: 15rem;
    text-decoration: none;
    outline: none;
    border:5px solid rgba(221, 177, 67, 0.849);
    color: rgba(224, 180, 67, 0.815);
    padding: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}
.bookcat a:hover{
    border:5px solid rgba(255, 199, 56, 0.849);
    color: rgba(214, 170, 58, 0.849);
}
.bookcat a:active{
    border:5px solid #ff9900;
    color: #ff9900;
}
.bookcat .pendbookBtn span,.bookcat .pubbookBtn span ,.bookcat .newbookBtn span{
    font-size: 9rem;
    transform: scale(80%);
    transition: 0.8s;
}
.bookcat a:hover span{
    transform: scale(100%);
}

/* Book By Status Not Found Title */
.notFoundHead{
    height:100vh;
    color:mediumseagreen;
     display:flex;
     justify-content:center;
     align-items:center;
     text-align:center;
     font-size:3rem
}
.notFoundHead span{
    color:red;
    font-size: 5rem;
    margin-right: 1rem;
}
/* Book Container */
#bookCont{
    position: relative;
    background-image: url('./images/BookContBg.jpeg');
    width:100%;
    min-height: 65vh;
    background-size:cover;
    background-attachment:fixed;
    margin: 1rem 0 0 0;
    padding:3rem 0;
    bottom: 0%;
}
#bookCont:before {
    background: linear-gradient(-45deg, transparent 24px,#fff 0px),
     linear-gradient(45deg, transparent 24px, #ffffff 0);
    background-position: left-bottom;
    background-repeat:repeat-x;
    background-size: 24px 24px;
    content:  "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 24px;
    z-index: 2;
}
#bookCont:after {
    background: linear-gradient(-45deg, #fff 12px, transparent 0),
     linear-gradient(45deg, #ffffff 12px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 24px 24px;
    content: "" ;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 24px;
}
#bookCont .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}
#bookCont .bookCardCont{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem

}
#bookCont .bookCardCont li{
    list-style: none;
}
#bookCont .bookCardCont .card{
    position: relative;
    width:13rem;
    height:18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px 10px 10px 1px rgba(31, 31, 31, 0.781);
    margin-top: 5rem;
    background-color: #fff;
    justify-content: space-between;
    background-image:linear-gradient(#ffff99,#ff9900);
    background: url("./images/frame.jpg");
    background-size: cover;
    border-radius: 3px;
}
#bookCont .bookCardCont .card .CardImgdiv{
    position: relative;
    width:10rem;
    height: 14rem;
    transition: 0.5s;
    transform: translateY(-5rem);

} 
#bookCont .bookCardCont .card .CardImgdiv .CardImg{
    position: absolute;
    top:0;
    left:0;
    transform-style: preserve-3d;
    width:10rem;
    height: 14rem;
    transform:rotateX(40deg) rotateY(30deg) rotateZ(-8deg) scale(70%);
    transition: 0.5s;
}
#bookCont .bookCardCont .card:hover .CardImgdiv .CardImg{
    transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(100%);
}
#bookCont .bookCardCont .card .CardImgdiv .CardImg span{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
#bookCont .bookCardCont .card .CardImgdiv span:nth-child(1){ 
    transform: translateZ(1rem);
    border: 1px solid rgb(182, 182, 182);
    background-color: white;
}
#bookCont .bookCardCont .card .CardImgdiv span:nth-child(2){
    transform-origin: center;
    height:2rem;
    transform: rotateX(90deg) translateZ(-13rem);
    border-left: 5px solid rgb(70, 158, 230);
    border-top: 5px solid rgb(70, 139, 230);
    border-bottom: 6px solid rgb(70, 139, 230);
    background-image:linear-gradient(rgb(175, 175, 175) ,white 99% ,rgb(204, 204, 204));
}
#bookCont .bookCardCont .card .CardImgdiv span:nth-child(3){
    width:2rem;
    transform: rotateY(90deg) translateZ(-1rem);
    border-radius:0 7px 0 0 ;
    background-color: rgba(221, 177, 67);
    background-image:linear-gradient(-45deg,#355C7D,rgb(93, 142, 235));
}
#bookCont .bookCardCont .card .CardImgdiv span:nth-child(4){
    transform: translateZ(-1rem);
    border-radius:7px 0 0 0 ;
    background-color: cadetblue;
} 

#bookCont .bookCardCont .card .CardImgdiv span img{
    width:100%;
    height:100%;
}
#bookCont .bookCardCont .card .CardTxt::-webkit-scrollbar {
    display: none;
  }
#bookCont .bookCardCont .card .CardTxt{
    position: absolute;
    bottom:0;
    left:0;
    width:13rem;
    height:8.5rem;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items:flex-start;
    justify-content:flex-start;
    overflow:scroll;
    border-radius:10px 10px 0 0;
    border-top:2px solid #1a63ff;
    /* box-shadow: inset 3px -5px 3px 1px rgba(42, 42, 42, 0.698); */
    box-shadow: inset -8px 0px 8px -7px rgba(0,0,0,0.9),inset 8px 0px 8px -7px rgba(0,0,0,0.9);

}

#bookCont .bookCardCont .card .CardTxt h4{
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    letter-spacing: 1px;
    color: #660080;
    word-spacing: 0.2rem;
    padding: 1rem 2rem 0 1rem;
    line-height: 1.2rem;
    text-transform: capitalize;
    font-size: 0.9rem;
    
}

#bookCont .bookCardCont .card .CardTxt .bookInfo{
    width:4.4rem;
    padding:0.3rem 0.7rem;
    margin: 0.5rem 0 0 1rem;
    background-image: linear-gradient(rgb(15, 15, 173),rgb(36, 60, 131));
    text-decoration: none;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 3px;

} 
#bookCont .bookCardCont .card .CardTxt .bookInfo:hover {
    width:4.8rem;
    background-image: linear-gradient(rgb(49, 144, 5),rgb(54, 105, 31));
    transform: scale(110%);
    transition:width 0.1s;
} 
#bookCont .bookCardCont .card .CardTxt .bookInfo:hover span{
    transition: 0.5s;
    margin-left: 0.2rem;
} 
#bookCont .bookCardCont .card .CardTxt p {
    margin:0.8rem 0 1rem 1rem;
    color:blue;
    font-size:0.7rem;
    text-transform:uppercase;
    font-weight:600;
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 1px;

} 
#bookCont .bookCardCont .card .CardTxt p span{
    padding:0.2rem 0.5rem;
    color:white;
    border-radius:3px;
    letter-spacing:0.1rem;
    font-family:sans-serif;
    font-weight:700;

} 

.SechBokNotFondtilt{
    position:relative;
    height: 100%;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    font-size: 3rem;
    word-break: break-all;
    vertical-align: middle;
    min-height: 50vh;
}
@media(max-width:550px){
    .searchCont{
        margin-top: 2rem;
        /* flex-direction: column; */
        /* border: none; */
        gap:1rem;
        justify-self: flex-start;
    }
    .searchCont #searchinput{
        width:12rem;
        font-size: 1.1rem;
        padding: 0.5rem 0.5rem;
        /* border-radius: 0.5rem; */
        /* border: 2px solid rgb(160, 160, 160); */
    }
    
.SearchBtn{
    width:3rem;
    height:2rem;
    font-size: 1rem;
    padding:1.2rem 0.1rem;
    /* border-radius: 0.2rem; */
    margin-left: 0rem;
}
.SearchBtn:hover{
    width:6rem;
}
.bookcat{
    margin: 3rem 0 3rem 0;
}
.bookcat a{
    width: 15rem;
    height: 12rem;
    text-decoration: none;
    outline: none;
    border:4px solid rgba(221, 177, 67, 0.849);
    padding: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.bookcat .pendbookBtn span,.bookcat .pubbookBtn span ,.bookcat .newbookBtn span{
    font-size: 4rem;
}

.notFoundHead{
    position:relative;
    font-size: 1rem;
}
.notFoundHead span{
    font-size: 3rem;
}
#Books .BookTypHeading{
    color:white;
    font-size:1.5rem;
    margin-top:2rem;
    text-align:center;
}

.SechBokNotFondtilt{
    font-size: 1.5rem;
}

}